<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>Campos</h2>
            <div class="box-icon">
                <a ng-href="/campo/create" class="btn-minimize"><i class="halflings-icon plus"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                <tr>
                    <th>ID Campo</th>
                    <th>Region</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="campo in campos| orderBy:['region']">
                    <td class="center" data-ng-model="campo.id">{{campo.id}}</td>
                    <td class="center" data-ng-model="campo.region">{{campo.region}}</td>
                    <td class="center">
                        <a class="btn btn-success" ng-href="/campo/{{campo.id}}/pozo">
                            <i class="halflings-icon white zoom-in"></i>
                        </a>
                        <a class="btn btn-info" ng-href="/campo/{{campo.id}}/update">
                            <i class="halflings-icon white edit"></i>
                        </a>
                        <a class="btn btn-danger" data="{{campo.id}}" data-ng-click="delete(campo.id)" >
                            <i class="halflings-icon white trash"></i>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->